html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  height: 100vh;
  /* fallback for old browsers */
  background: #2980b9;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #2c3e50, #2980b9);

  min-height: 100vh;
  margin: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background-color: #f8f8f8;
  border-radius: 16px;
  max-width: 624px;
  width: 100%;
  padding: 32px;
}

.person {
  display: flex;
  align-items: flex-start;
}

.person__photo {
  margin-right: 32px;
  border-radius: 48px;
}

.person__name {
  margin: 0;
  font-weight: normal;
  font-size: 36px;
}

.person__position {
  color: #545454;
  font-style: italic;
  font-size: 18px;
  margin-bottom: 0px;
}

.person__header {
  margin-bottom: 24px;
}

.person__description {
  font-size: 16px;
  margin: 0;
  line-height: 20px;
}

.person__about {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
}

.icon {
  height: 36px;
  width: 36px;
}
